/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body, html {
  height: 100%;
}

.container {
  background: url(imgs/B.png) no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Box */
.login-box {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 100px 50px;
  width: 450px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.824);
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Custom Login Tab */
.login-tab {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #dcdcdce3;
  color: black;
  padding: 10px 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

/* Input Group */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  color: white;
  font-size: 14px;
  outline: none;
}

.input-group .icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #ccc;
}

/* Options */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #eee;
  margin-bottom: 20px;
}

.options a {
  color: #ccc;
  text-decoration: none;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  background: #dcdcdce3;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  opacity: 0.9;
}

/* Register */
.register {
  margin-top: 15px;
  font-size: 13px;
}

.register a {
  color: white;
  text-decoration: underline;
}
