/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Product Details Page */
.product-details {
    width: 100%; /* Full width */
    max-width: 100%; /* Optional: maximum width for large screens */
    height: auto;
    margin: 20px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-details h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

.product-details img {
    width: 100%;
    height: auto;
    max-width: 100%; /* Ensures the image takes full width */
    margin-bottom: 20px;
}

.product-details p {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

button {
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #0056b3;
}
